@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
@import url(https://fonts.googleapis.com/css?family=Tangerine");


@keyframes scroll {
	0% { height: 0 }
	100% { height: 100%; }
}

@keyframes type { 
  from { width: 0; } 
} 

@keyframes type2 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink {
  to{opacity: .0;}
}

@keyframes scan {
	from { top: 0 }
	to { top: 100% }
}


/* I did remove the flickering effect, lot's of people though it was annnoying, maybe we can work on it to make it less annoying people will end up with headache
 * @keyframes flicker {
		0% { opacity: 0.15795 }
		5% { opacity: 0.31511 }
		10% { opacity: 0.94554 }
		15% { opacity: 0.2469 }
		20% { opacity: 0.62031 }
		25% { opacity: 0.0293 }
		30% { opacity: 0.00899 }
		35% { opacity: 0.5344 }
		40% { opacity: 0.12778 }
		45% { opacity: 0.52042 }
		50% { opacity: 0.3823 }
		55% { opacity: 0.2198 }
		60% { opacity: 0.9383 }
		65% { opacity: 0.86615 }
		70% { opacity: 0.68695 }
		75% { opacity: 0.55749 }
		80% { opacity: 0.96984 }
		85% { opacity: 0.0361 }
		90% { opacity: 0.24467 }
		95% { opacity: 0.08351 }
		100% { opacity: 0.54813 }
}
*/
{
	box-sizing: border-box;
	}


*{margin:0; padding:0;}
/*CLEARFIX*/
.clearfix:after {content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;} 
.clearfix {	display: inline-block; width:100%;} 
html[xmlns] .clearfix {display: block;} 
* html .clearfix {height: 1%;}

body {
		background:			#111;
		color:				#fff;
		font-family:		helvetica, arial, sans-serif;
		font-size:			62.5%;
		line-height:		2.1em;
		margin:				0;
		padding:			0;	
}	
a {
	color:				#77B82C;	
}	
header, article {
		margin:				0;
		padding:			0;
		display:			block;
		width:				960px;
		margin:				auto;
		font-size:			1.2em;
}	
nav {
		position:			relative;
		border-bottom:		2px solid #77B82C;
		background:			#000;
		color:				#77B82C;	
		height: 			50px;
		display: 			block; 
		box-shadow:			0px 0px 10px #000;
		z-index: 			1; 
}	
nav ul {
		position:			relative;
		margin:				0;
		padding:			0;
		text-align:			right;
		z-index:			100;
		background:			#000;
		padding-right:		100px;
}	
nav ul li {
		list-style:			none;
		margin:				0;
		padding:			5px 10px;
		display:			inline-block;
		line-height:		35px;
		z-index:			100;
}	
nav ul li a {
		text-decoration:	none;
		font-size:			1.2em;	
		color:				#77B82C;
		z-index:			100;
}	
nav ul li a.active, nav ul li a:hover {
		color:				#fff;
}	
nav #handle {
		width:				20px;
		height:				20px;
		border-radius:		10px;
		position:			absolute;
		top:				40px;
		left:				50%;
		margin-left:		-10px;
		background:			#000;
		z-index:			1;
}	
nav #handle .downarrow {
		border:				5px solid transparent;		
		border-top:			8px solid #FFFFFF;
		position:			absolute;
		left:				5px;
		bottom:				0px;
}

.blurb {
		clear:				both;
}	
/**
 * CONTENTS - matrixmobs.css
 *
 * RESET
 * Global reset and basic config.
 *
 * TAB LABELS
 * Styling and basic functionality for tab labels.
 *
 * TAB CONTENT
 * Styling for tab content.
 *
 */

/*------------------------------------*\
    #RESET
\*------------------------------------*/
.night-tabs a,
.night-tabs div,
.night-tabs em,
.night-tabs img,
.night-tabs ul,
.night-tabs label,
.night-tabs li,
.night-tabs ol,
.night-tabs p,
.night-tabs span,
.night-tabs ul {
    /* ->>> Structure <<<-*/
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box /* CSS3 */
}

/*------------------------------------*\
    #TAB LABELS
\*------------------------------------*/
.night-tabs {
    /* ->>> Structure <<<-*/
    margin: 0 auto; /* Center Night Tabs; optional. */
    width: 70%; /* Define width. */
    font: 300 0px/1.5
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Typography */
    color: #ecf0f1 /* Text Colors */
}

.night-tabs input {display: none} /* Hide Checkbox. */
.night-tabs input:checked+label {cursor: default} /* Set cursor type. */
.night-tabs label {
        /* ->>> Structure <<<-*/
        display: inline-block;
        z-index: 1;
        border-bottom: 2px solid #353535;
        border-right: 1px solid #77B82C;
        border-left: 1px solid #77B82C;
        /* ->>> Typography <<<-*/
        cursor: pointer;
        font-size: 18px;
        line-height: 40px;
        text-align: left;
        /* ->>> CSS3 <<<-*/
        -webkit-user-select: none; /* ->>> Prevents double-click selection. <<<-*/
        -moz-user-select: none;
        -ms-user-select: none
    }
.night-tabs label span {
            display: block;
            padding: .2em;
            background: #404040
}
.night-tabs label span span {
                /* Structure */
                border: 2px solid transparent;
                padding: 0 1em;
                /* CSS3*/
                -webkit-transition: background .4s;
                transition: background .4s
}
/*------------------------------------*\
    #TAB CONTENT
\*------------------------------------*/
.night-tabs .night-tabs-content {
    display: block; /* Structure */
    font-size: 18px /* Typography */
}
.night-tabs .night-tabs-content > li {
        /* Structure */
        left: 0;
        opacity: 0;
        overflow: auto;
        padding: 1em 1.5em; /* ->>> Spacing for content. <<<-*/
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 100%;
        background: #404040; /* Colors */
        /* CSS3 */
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transition: all .8s .1s; /* ->>> Intensity of tab effects. <<<-*/
        transition: all .8s .1s
}

@charset "UTF-8";
/**
 * CONTENTS - effects.css
 *
 * GENERAL STYLES
 * Setup for tab effects.
 *
 * SLIDE EFFECTS
 * Basic slide effects from different directions.
 *
 * ADVANCED EFFECTS
 * Advanced effects (scale, rotate, flip)
 *
 */
/*------------------------------------*\
    #GENERAL STYLES
\*------------------------------------*/
.night-tabs>.content1:checked~ul>.content1,
.night-tabs>.content2:checked~ul>.content2,
.night-tabs>.content3:checked~ul>.content3,
.night-tabs>.content4:checked~ul>.content4 {
    /* Structure */
    opacity: 1;
    visibility: visible;
    /* CSS3 */
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}
/*------------------------------------*\
    #SLIDE EFFECTS
\*------------------------------------*/
/* ->>> Slide Up <<<-*/
.night-tabs-animation-slide-up .night-tabs-content > li {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px)
}
/* ->>> Slide Down <<<-*/
.night-tabs-slide-down .night-tabs-content > li {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
}
/* ->>> Slide Left <<<-*/
.night-tabs-animation-slide-left .night-tabs-content > li {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px)
}
/* ->>> Slide Right <<<-*/
.night-tabs-animation-slide-right .night-tabs-content > li {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px)
}

/* ->>> Slide Up + Left <<<-*/
.night-tabs-slide-up-left .night-tabs-content > li {
    -webkit-transform: translate(-30px, -30px);
    -ms-transform: translate(-30px, -30px);
    transform: translate(-30px, -30px)
}
/* ->>> Slide Up + Right <<<-*/
.night-tabs-animation-slide-up-right .night-tabs-content > li {
    -webkit-transform: translate(30px, -30px);
    -ms-transform: translate(30px, -30px);
    transform: translate(30px, -30px)
}
/* ->>> Slide Down + Left <<<-*/
.night-tabs-animation-slide-down-left .night-tabs-content > li {
    -webkit-transform: translate(-30px, 30px);
    -ms-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px)
}
/* ->>> Slide Down + Right <<<-*/
.night-tabs-animation-slide-down-right .night-tabs-content > li {
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    transform: translate(30px, 30px)
}
/*------------------------------------*\
    #SLIDE EFFECTS
\*------------------------------------*/
/* ->>> Rotate <<<-*/
.night-tabs-rotate > ul > li {
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg)
}
.night-tabs-animation-rotate.night-tabs.night-tabs-position-vleft > ul > li,
.night-tabs-animation-rotate.night-tabs.night-tabs-position-vright > ul > li {
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg)
}
/* ->>> Scale <<<-*/
.night-tabs-animation-scale > ul > li {
    -webkit-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6)
}
/* ->>> Flip <<<-*/
.night-tabs-animation-flip .night-tabs-content {
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%
}
.night-tabs-animation-flip .night-tabs-content > li {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}
.night-tabs-animation-flip.night-tabs-position-vleft > .night-tabs-content > li {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg)
}
.night-tabs-animation-flip.night-tabs-position-vright > .night-tabs-content > li {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}
/**
 * CONTENTS - layouts.css
 *
 * HORIZONTAL POSITIONS
 * Basic horizontal positions: top, left, right, and justify.
 *
 * VERTICAL POSITIONS
 * Basic vertical positions, vertical left and vertical right.
 *
 */
/*------------------------------------*\
    #HORIZONTAL POSITIONS
\*------------------------------------*/
/* ->>> Left, Center, Right <<<-*/
.night-tabs-position-left label,
.night-tabs-position-center label,
.night-tabs-position-right label {width: auto}
.night-tabs-position-left {text-align: left}
.night-tabs-position-center {text-align: center}
.night-tabs-position-right {text-align: right}
/* ->>> Justified <<<-*/
.night-tabs-position-justify > input:first-child + label {padding-left: 0}
.night-tabs-position-justify2 > label {width: 50%}
.night-tabs-position-justify3 > label {width: 33.33%}
.night-tabs-position-justify4 > label {width: 25%}
/*------------------------------------*\
    #VERTICAL POSITIONS
\*------------------------------------*/
/* ->>> General Styles <<<-*/
.night-tabs-position-vleft .night-tabs-content > li,
.night-tabs-position-vright .night-tabs-content > li {border-top: 0}
.night-tabs-position-vleft > label,
.night-tabs-position-vright > label {
    clear: left;
    display: block;
    float: left;
    margin-right: 0;
    width: 25%
}
/* ->>> Vertical Left <<<-*/
.night-tabs-position-vleft label {border-right: 2px solid #333}
.night-tabs-position-vleft > .night-tabs-content {margin-left: 25%}
/* ->>> Vertical Right <<<-*/
.night-tabs-position-vright > label {
    clear: right;
    float: right
}
.night-tabs-position-vright ul li { border-right: 1px solid #333}
.night-tabs-position-vright > .night-tabs-content {margin-right: 25%}
.night-tabs-position-vright .night-tabs-content > li {
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%
}
/**
 * CONTENTS - typography.css
 *
 * BASIC TYPOGRAPHY
 * Styles for headings,paragraphs, and links.
 *
 * EXTENDED TYPOGRAPHY
 * Styling for images, unordered and ordered lists, and utility classes.
 *
 * GRID SYSTEM
 * Basic 12 fluid column grid system with offset support.
 *
 */
/*------------------------------------*\
    #BASIC TYPOGRAPHY
\*------------------------------------*/
/* ->>> Headings <<<-*/
h1, h2, h3 { margin: 0; padding: 0 }
.night-tabs .night-tabs-content li .h1,
.night-tabs .night-tabs-content li .h2,
.night-tabs .night-tabs-content li .h3 {
    font-weight: 300;
    line-height: 1.5
}
.night-tabs .night-tabs-content li .h1 {font-size: 3em}
.night-tabs .night-tabs-content li .h2 {font-size: 2.2em}
.night-tabs .night-tabs-content li .h3 {font-size: 1.4em}

/* ->>> Paragraphs <<<-*/
.night-tabs .night-tabs-content li p {
    margin: .5em 0;
    font-size: 1em
}
/* ->>> Links <<<-*/
.night-tabs .night-tabs-content li a {color: #77B82C}

.night-tabs .night-tabs-content li a:hover,
.night-tabs .night-tabs-content li a:focus {text-decoration: none}
/* ->>> FontAwesome <<<-*/
.night-tabs .fa { margin-right: .5em }
/*------------------------------------*\
    #EXTENDED TYPOGRAPHY
\*------------------------------------*/
/* ->>> Images <<<-*/
.night-tabs .night-tabs-content li img {
    max-width: 100%;
    height: auto
}
/* ->>> Lists <<<-*/
.night-tabs .night-tabs-ordered-list,
.night-tabs .night-tabs-unordered-list {
    margin-top: .3em;
    padding-left: 2.5em
}
.night-tabs .night-tabs-ordered-list {list-style: decimal}
.night-tabs .night-tabs-unordered-list { list-style: disc}
/* ->>> Utility <<<-*/
/* Positioning */
.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}
.pull-left {float: left}
.pull-right {float: right}
/* Preformatted */
.dropcap {
  font-family: "Sanchez", Rockwell, slab-serif;
	float: left;
	font-size: 5em;
	line-height: .9;
}
	
.blockquote {
  margin: 1em;
  padding: 0 0 0 1em;
  border-left: 3px solid #77B82C
}
.well {
    background: #77B82C;
    padding: 1em!important
}
/*------------------------------------*\
    #GRID SYSTEM
\*------------------------------------*/
/* ->>> Micro-Clearfix <<<-*/
.night-tabs .grid-row:after {
    content: '';
    display: table;
    clear: both
}
/* ->>> Basic Structure <<<-*/
.night-tabs .grid-row {margin-top: 1em}
.night-tabs .grid-row:first-child {margin-top: 0}

.night-tabs .grid-column {
    display: block;
    float: left;
    width: 100%;
    margin-left: 2%
}
.night-tabs .grid-column:first-child { margin-left: 0}
/* ->>> Grid System Config <<<-*/
.night-tabs .grid-column-1 {width: 6.5%}
.night-tabs .grid-column-2 {width: 15%}
.night-tabs .grid-column-3 {width: 23.5%}
.night-tabs .grid-column-4 {width: 32%}
.night-tabs .grid-column-5 {width: 40.5%}
.night-tabs .grid-column-6 {width: 49%}
.night-tabs .grid-column-7 {width: 57.5%}
.night-tabs .grid-column-8 {width: 66%}
.night-tabs .grid-column-9 {width: 74.5%}
.night-tabs .grid-column-10 {width: 83%}
.night-tabs .grid-column-11 {width: 91.5%}
.night-tabs .grid-column-offset-1,
.night-tabs .grid-column-offset-1:first-child{margin-left:8.5%}
.night-tabs .grid-column-offset-2,
.night-tabs .grid-column-offset-2:first-child{margin-left:17%}
.night-tabs .grid-column-offset-3,
.night-tabs .grid-column-offset-3:first-child{margin-left:25.5%}
.night-tabs .grid-column-offset-4,
.night-tabs .grid-column-offset-4:first-child{margin-left:34%}
.night-tabs .grid-column-offset-5,
.night-tabs .grid-column-offset-5:first-child{margin-left:42.5%}
.night-tabs .grid-column-offset-6,
.night-tabs .grid-column-offset-6:first-child{margin-left:51%}
.night-tabs .grid-column-offset-7,
.night-tabs .grid-column-offset-7:first-child{margin-left:59.5%}
.night-tabs .grid-column-offset-8,
.night-tabs .grid-column-offset-8:first-child{margin-left:68%}
.night-tabs .grid-column-offset-9,
.night-tabs .grid-column-offset-9:first-child{margin-left:76.5%}
.night-tabs .grid-column-offset-10,.night-tabs .grid-column-offset-10:first-child{margin-left:85%}
.night-tabs .grid-column-offset-11,.night-tabs .grid-column-offset-11:first-child{margin-left:93.5%}
/**
 * CONTENTS - colors.css
 *
 * COLORS
 * Default (Gray/Grey), Red, Blue, Green, Purple, Orange, Yellow, Pink, Brown, Teal, Turquoise.
 *currently changing colors****
 */
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/* ->>> Default (Gray/Grey ( selected green)) <<<-*/
.night-tabs label:hover span span,
.night-tabs input:checked+label span span,
.night-tabs-color-default label:hover span span,
.night-tabs-color-default input:checked+label span span{background: #77B82C}
/* ->>> Blue <<<-*/
.night-tabs-color-blue label:hover span span,
.night-tabs-color-blue input:checked+label span span {background: #1e8bc3}
/* ->>> Red <<<-*/
.night-tabs-color-red label:hover span span,
.night-tabs-color-red input:checked+label span span {background: #ef4836}
/* ->>> Green <<<-*/
.night-tabs-color-green label:hover span span,
.night-tabs-color-green input:checked+label span span {background: #27ae60}
/* ->>> Purple <<<-*/
.night-tabs-color-purple label:hover span span,
.night-tabs-color-purple input:checked+label span span {background: #9b59b6}
/* ->>> Orange <<<-*/
.night-tabs-color-orange label:hover span span,
.night-tabs-color-orange input:checked+label span span {background: #F9690E}
/* ->>> Yellow <<<-*/
.night-tabs-color-yellow label:hover span span,
.night-tabs-color-yellow input:checked+label span span {background: #a8880a}
/* ->>> Pink <<<-*/
.night-tabs-color-pink label:hover span span,
.night-tabs-color-pink input:checked+label span span {background: #dB0a5b}
/* ->>> Brown <<<-*/
.night-tabs-color-brown label:hover span span,
.night-tabs-color-brown input:checked+label span span {background: #926239}
/* ->>> Teal <<<-*/
.night-tabs-color-teal label:hover span span,
.night-tabs-color-teal input:checked+label span span {background: #008080}
/* ->>> Turquoise <<<-*/
.night-tabs-color-turquoise label:hover span span,
.night-tabs-color-turquoise input:checked+label span span {background: #16a085}
/**
 * CONTENTS - mobile.css
 *
 * RESPONSIVE STACKING
 * Tabs stack on top of each other on mobile devices.
 *
 */
/*------------------------------------*\
    #RESPONSIVE STACKING
\*------------------------------------*/
@media screen and (max-width: 48em) {
.night-tabs .grid-column,
.night-tabs .grid-column:first-child {
        float: none;
        width: 100%;
        margin: 1em 0 0 0
    }
.night-tabs > label {
        display: block;
        float: none;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
        margin: 0
}
.night-tabs > .night-tabs-content {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0
}
.night-tabs > .night-tabs-content > li {
        -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%
}
.night-tabs.night-tabs-animation-flip > ul > li {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg)
    }
}
/*PLAYER*/
#wrapper{
	width:750px;
	margin: 100px auto;
	position:relative;	
}
.widget{
	width:100%;
	margin-top:20px;
	padding:15px;
	background: transparent;
	box-shadow: 0px 4px 0px;	
	border-radius:3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity:0;
	-moz-transform: translateY(50px);
	-webkit-transform: translateY(50px);
	-o-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;	
}
.widget.showdemo{
	opacity:1;
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}
/*BUTTONS*/
.btns{
	padding:15px;
	float:left;
	width:25%;
	min-height:30px;
	border-left:1px solid #77B82C;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align:center;
	color:#333;
	height:100%;
	overflow:hidden;
}
.btns:first-child{
	border-left:none;
}
.btns span.fa{
	font-size:60px;
	display:block;
	margin:0 auto;
	width:100%;
}
.btns h3{
	font-family: 'Amatic SC', cursive;
	font-size:30px;	
	margin: 20px 0 8px;
	color:#77B82C;
}
.btns p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:18px;
	line-height:1.3;	
}
/*ANIMATION*/
.btns:hover{
	cursor:pointer;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;	
}
.btns:hover h3{
	color:#ffbe12;	
}
/*DEMO 1*/
.demo1 .btns.active span, 
.demo1 .btns.active h3, 
.demo1 .btns.active p{
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.demo1 .btns.active span{
	-webkit-transition-delay: 0.2s; 
    transition-delay: 0.2s;	
	-moz-transition-delay: 0.2s;	
	-o-transition-delay: 0.2s;	
	-ms-transition-delay: 0.2s;		
}
.demo1 .btns.active h3{
	-webkit-transition-delay: 0.1s; 
    transition-delay: 0.1s;	
	-moz-transition-delay: 0.1s;	
	-o-transition-delay: 0.1s;	
	-ms-transition-delay: 0.1s;		
}
/*DEMO 2*/
.demo2 .btns:hover span,
.demo2 .btns:hover p{
	-moz-transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
	-o-transform: translateX(-200px);
	-ms-transform: translateX(-200px);
	transform: translateX(-200px);
}
.demo2 .btns:hover h3{
	-moz-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	-o-transform: translateX(200px);
	-ms-transform: translateX(200px);
	transform: translateX(200px);	 
}
.demo2 .btns.active span, 
.demo2 .btns.active h3, 
.demo2 .btns.active p{
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.demo2 .btns.active span{
	-webkit-transition-delay: 0.2s; 
    transition-delay: 0.2s;	
	-moz-transition-delay: 0.2s;	
	-o-transition-delay: 0.2s;	
	-ms-transition-delay: 0.2s;		
}
.demo2 .btns.active h3{
	-webkit-transition-delay: 0.1s; 
    transition-delay: 0.1s;	
	-moz-transition-delay: 0.1s;	
	-o-transition-delay: 0.1s;	
	-ms-transition-delay: 0.1s;		
}
/*DEMO 3*/
.demo3 .btns:hover span, 
.demo3 .btns:hover h3{
	-moz-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
	opacity:0;
}
.demo3 .btns:hover p{
	-moz-transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-o-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);	
}
.demo3 .btns.active span, 
.demo3 .btns.active h3, 
.demo3 .btns.active p{
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity:1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.demo3
 .btns.active span{
	-webkit-transition-delay: 0.2s; 
    transition-delay: 0.2s;	
	-moz-transition-delay: 0.2s;	
	-o-transition-delay: 0.2s;	
	-ms-transition-delay: 0.2s;		
}
.demo3 .btns.active h3{
	-webkit-transition-delay: 0.1s; 
    transition-delay: 0.1s;	
	-moz-transition-delay: 0.1s;	
	-o-transition-delay: 0.1s;	
	-ms-transition-delay: 0.1s;		
}
/*DEMO 4*/
.demo4 .btns:hover span, 
.demo4 .btns:hover h3, 
.demo4 .btns:hover p{
	-moz-transform: translateY(250px);
	-webkit-transform: translateY(250px);
	-o-transform: translateY(250px);
	-ms-transform: translateY-250px);
	transform: translateY(250px);
}
.demo4 .btns.active span, 
.demo4 .btns.active h3, 
.demo4 .btns.active p{
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.demo4 .btns.active p{
	-webkit-transition-delay: 0.2s; 
    transition-delay: 0.2s;	
	-moz-transition-delay: 0.2s;	
	-o-transition-delay: 0.2s;	
	-ms-transition-delay: 0.2s;		
}
.demo4 .btns.active h3{
	-webkit-transition-delay: 0.1s; 
    transition-delay: 0.1s;	
	-moz-transition-delay: 0.1s;	
	-o-transition-delay: 0.1s;	
	-ms-transition-delay: 0.1s;		
}
footer{
  color: #77B82C;
	margin: 1400px 0px 0px 0px; 	
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}
.footer-bottom{
  background: #333;
  padding: 2em;
}
.footer-top{
  background: #333;  
}
.footer-middle{
   background: #000000;
  padding-top: 2em;
  color: green;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}
